
body {
  margin: 0;
  font-family: "Titillium Web", "Arial", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#3c8fde, #8fff63);
  background-repeat: no-repeat;
}

